<?xml version="1.0"?>
<!--
  ~ Copyright © Hampus Westman 2020
  ~ See LICENCE provided with this module for licence details
  ~
  ~ @author     Hampus Westman <hampus.westman@gmail.com>
  ~ @copyright  Copyright (c) 2020 Hampus Westman
  ~ @license    MIT License https://opensource.org/licenses/MIT
  ~ @link       https://github.com/Pr00xxy
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="admin" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <tab>advanced</tab>
            <resource>Admin_Security::adminsecurity_config</resource>
            <group id="proxxy_admin_security" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Pr00xxy Admin Security</label>
                <field id="is_email_restriction_active" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Email Restriction status</label>
                    <config_path>prooxxy/adminsecurity/is_email_restriction_active</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="email_blocked_addresses" type="textarea" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allowed email matches</label>
                    <config_path>prooxxy/adminsecurity/email_matches</config_path>
                    <comment>Entries must be comma separated</comment>
                </field>
            </group>
        </section>
    </system>
</config>
